
.button-aesthetic{
  height: 100%;
  border-radius: 10px;
  border-color: white;
  font-family: 'Times New Roman', Times, serif;
  background-color: transparent;
  font-size: larger;
  text-align: center;
  width: 100%; 
  color:white;
}

.navbar {
  position: fixed;
  bottom: 0;           
  width: 100%;
  border:none;
  height: 60px;
  display: flex;
  justify-content: space-around;
  z-index: 1000;
    font-size: larger;
}

.link-fix-width{
  flex: 1;
  border:none;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10px;
  background-color: #012169;
}

.top-banner-home{
  background-color: #012169;
  padding:5px 50px;
  color: white;
  display:flex;
  justify-content: space-between;
  width:100%;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
}

.top-banner-default{
  background-color: #012169;
  padding:5px 10px;
  color: white;
  display:flex;
  width:100%;
}

.default_title
{
  font-family:'Times New Roman', Times, serif;
  font-weight: 40;
}

.duke_title
{
  font-family: 'Garamond', serif;
  font-weight: 20;
}

.dining_title
{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight:300;
}



.submit-button{
  font-family: 'Times New Roman', Times, serif;
  padding: 8px;
  border-radius: 10px;
  font-size: 15px;
}

.input-button{
  font-family: 'Times New Roman', Times, serif;
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
}

.basic{
  padding: 10px;
  margin-bottom: -7px;
  font-family:sans-serif;
  font-weight: 600;
}

hr {
  height:1px;
  background-color: grey;
  opacity:0.2;
  border:none;
}

.chart-pic{
  width: 170px;
  margin:0px 10px;
  padding: 5px;
  height:auto;
  border:1px solid;
  border-radius: 1rem;
  border-color:#e2e2e2;
  margin-bottom: 10px;
}

.log-in-button{
  background-color: #012169;
  color:white;
  width: 90%;
  margin:auto;
  border-radius: 0.7rem;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top:50%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}