.react-calendar {
  max-width: 700px;
  width: 500px;
  margin: 20px auto auto;
  font-size: 1.2rem;
  background-color: white;
  box-shadow: 12px 12px 12px rgba(47, 44, 44, 0.1);
  border-color: rgba(237, 236, 236, 0.866);
}

.react-calendar__tile {
  min-height: 80px;
  font-size: 1.1rem;
  border-radius: 8px;
  color: black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.react-calendar__tile--active {
  background-color: #ec656523;
  color: black;
  border-radius: 1.5rem;
}


.react-calendar__tile--now {
  background-color: rgba(210, 227, 244, 0.866);
  border-radius: 1.5rem;

}

.react-calendar__navigation {
  background-color: rgba(210, 227, 244, 0.866);
  margin-bottom: 0px;
  height: 75px;

}

.react-calendar__navigation button{
  font-size: larger;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 590;

}
.react-calendar__month-view__weekdays{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: 590;
  background-color: rgba(210, 227, 244, 0.866);
  margin-top: 0px;
  color: black

  
}

.react-calendar__month-view__weekdays abbr{
  text-decoration: none;
}

.react-calendar__tile--rangeStart
{
  background-color: #ec656523;
}

.start-to-end-info
{
  width: 200px;
  margin: 15px auto;
  margin-bottom: 100px;
}

.outside-month {
  color: gray;
  opacity: 0.5;
}

.button-aesthetic{
  height: 100%;
  border-radius: 10px;
  border-color: rgba(196, 193, 193, 0.145);
  font-family: 'Times New Roman', Times, serif;
  background-color: transparent;
  font-size: larger;
  text-align: center;
  width: 100%; 
}

.navbar {
  position: fixed;
  bottom: 0;           
  width: 100%;
  border:none;
  height: 60px;
  display: flex;
  justify-content: space-around;
  z-index: 1000;
    font-size: larger;

}

.link-fix-width{
  flex: 1;
  border:none;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10px;
  background-color: rgb(212, 210, 244);
}

.top-banner{
  background-color: rgb(212, 210, 244);
  padding:10px;
}

.chosen-dates{
  background-color: #ec656523;
  border-radius: 10px;
  margin-bottom: 10px;
}

.submit-button{
  font-family: 'Times New Roman', Times, serif;
  padding: 8px;
  border-radius: 10px;
  font-size: 15px;
}

.input-button{
  font-family: 'Times New Roman', Times, serif;
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
}

.basic{
  padding:10px ;

}